matplotlib
pandas
scikit_learn
seaborn
plotly
jupyter
dvc
xgboost==0.90
mlflow
tensorflow
# tensorflow-gpu
statsmodels
pandoc
nbconvert
joblib
Django
djangorestframework
SQLAlchemy
protobuf~=3.19.0
streamlit==1.8.1
click==7.1
librosa
python_speech_features
ipython
Wave
torch
torchaudio
kaleido
gunicorn